<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intégration Django + Firebase</title>
</head>
<body>
    <h1>Formulaire Firebase</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" required>
        <br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        
        <button type="submit">Envoyer</button>
        <h2>Utilisateurs dans Firebase</h2>
        <ul>
            {% for key, user in users.items %}
                <li>{{ user.name }} - {{ user.stack }}</li>
            {% endfor %}
        </ul>
    </form>
    
</body>
</html>